
<p>Width in %</p>
<!-- TODO: The 'tickInterval' property no longer exists -->
<mat-slider min="10" max="100" step="10" thumbLabel [(ngModel)]="data.size.width"><input matSliderThumb /></mat-slider>

<p>Height in px</p>
<!-- TODO: The 'tickInterval' property no longer exists -->
<mat-slider min="1" max="10" step="1" thumbLabel [(ngModel)]="data.size.height"><input matSliderThumb /></mat-slider>

<!-- <p>Zaoblené rohy</p>
<mat-slider min="0" max="50" step="5" thumbLabel tickInterval="1" [(ngModel)]="data.size.radius"></mat-slider> -->