.bg-image {
    height: 100px;
    width: 300px;
    border: 1px solid silver;
    margin: 20px 0;
    background-size: cover;
    &:hover {
        cursor: pointer;
        border: 1px dashed #222;
    }
}

.bg-image-active, .bg-image-active:hover {
    border: 1px solid #222;
}

#background1 {
    background-image: url("/assets/img/background1.jpg");

}

#background2 {
    background-image: url("/assets/img/background2.jpg");
}

#background3 {
    background-image: url("/assets/img/background3.jpg");
}

#background4 {
    background-image: url("/assets/img/background4.jpg");
}

#nonebg {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 24px;
    line-height: 100px;
    text-align: center;
    &::before {
        content: 'No background';
    }
}