
<div class="image-container" #imageContainer>
    <div class="image-wrapper" #wrapper [style.maxHeight]="content.height"
    mwlResizable
    [validateResize]="validate"
    [enableGhostResize]="false"
    (resizeEnd)="onResizeEnd($event)"
    (resizing)="onResize($event)"
    [ngClass]="'image-style-' + content.style"
    [attr.mystyle]="content.style"
    >
        <!-- <div class="image-container"  [ngClass]="'image-style-' + content.style" [style.paddingBottom]="content.height"> -->
            <img [src]="content.src" [alt]="content.alt" class="w-100" class="imagee" [style.objectPosition]="content.left + ' ' + content.top">
        <!-- </div> -->
        <div class="handle handle-bottom" mwlResizeHandle
        [resizeEdges]="{ bottom: true }"></div>
    </div>
</div>



