
<div class="wrapper background navbar-wrapper" [ngStyle]="getStyle2()"><!--OPACITY, BACKGROUND, LAYOUT-->
  <div class="navbar" [ngClass]="[component.data.size.width]">
    <div class="logo">
      <web-section-image [content]="component.data.logo.logo" *ngIf="component.data.logo.hasLogo"></web-section-image>
      <quill-editor [(ngModel)]="component.data.logo.text" theme="bubble2" 
        placeholder="Enter text"
        class="nav-ql-editor"
        [modules]="modulesHeader"
        >
        <div quill-editor-toolbar>
          <span class="ql-formats">
            <button class="ql-bold" [title]="'Bold'"></button>
            <button class="ql-italic" [title]="'Italic'"></button>
          </span>
          <span class="ql-formats">
            <select class="ql-font" [title]="'Font'">
              <ng-container *ngFor="let item of FONT_NAMES; index as i">
                <option [value]="item">{{item}}</option>
              </ng-container>
            </select>
          </span>
          <span class="ql-formats">
            <select class="ql-color" [title]="'Text color'"></select>
            <select class="ql-background" [title]="'Text background color'"></select>
          </span>
        </div>
      </quill-editor>

    </div>
  </div>
</div>

  