.layout {
    height: 100px;
    width: 300px;
    border: 1px solid silver;
    margin: 20px 0;
    
    &:hover {
        cursor: pointer;
        border: 1px dashed #222;
    }
}

.layout-active, .layout-active:hover {
    border: 1px solid #222;
}

#layout1 {
    background-image: url("/assets/img/layout1.png");
}

#layout2 {
    background-image: url("/assets/img/layout2.png");
}

#layout3 {
    background-image: url("/assets/img/layout3.png");
}

#layout4 {
    background-image: url("/assets/img/layout4.png");
}

#layout5 {
    background-image: url("/assets/img/layout5.png");
}

#layout6 {
    background-image: url("/assets/img/layout6.png");
}