$toolbar-title-padding: 16px !default;

.toolbar-title {
  margin: 0 $toolbar-title-padding 0 $toolbar-title-padding;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  & > li {
    margin: 0 20px;
  }

  cursor: pointer;
}


mat-list-item {
  transform: scale(0.7);
}

.mat-mdc-button:hover {
  background-color: #ffffff2f;
}