$toolbar-title-padding: 16px !default;

.toolbar-title {
  margin: 0 $toolbar-title-padding 0 $toolbar-title-padding;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item {
  transform: scale(0.7);
}

.mat-mdc-button:hover {
  background-color: #ffffff2f;
}