<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span class="toolbar-title"> Web builder </span>

    <div class="d-flex justify-content-end align-items-center w-100">

      <mat-list-item>
        <span class="p-1">View: </span>
        <mat-button-toggle-group aria-label="Font Style" class="icon-display">
          <mat-button-toggle [checked]="!showPc" (change)="showPc = false"><mat-icon>smartphone</mat-icon></mat-button-toggle>
          <mat-button-toggle [checked]="showPc" (change)="showPc = true"><mat-icon>computer</mat-icon></mat-button-toggle>
        </mat-button-toggle-group>
      </mat-list-item>

      <ul class="d-flex navigation-items">
        <li matRipple [matRippleColor]="'#ffffff2f'">
          <button mat-button (click)="importJSON()">
            <mat-icon> upload </mat-icon><span> Import JSON </span>
          </button>
        </li>
        <li matRipple [matRippleColor]="'#ffffff2f'">
          <button mat-button (click)="exportJSON()">
            <mat-icon> download </mat-icon><span> Export as JSON </span>
          </button>
        </li>
        <li matRipple [matRippleColor]="'#ffffff2f'">
          <button mat-button (click)="exportHTML()">
            <mat-icon> download </mat-icon><span> Save as HTML </span>
          </button>
        </li>
        <li matRipple [matRippleColor]="'#ffffff2f'">
          <button mat-button>
            <mat-icon> settings </mat-icon><span> Page settings </span>
          </button>
        </li>

        <li matRipple [matRippleColor]="'#ffffff2f'">
          <button mat-button>
            <mat-icon> help_outline </mat-icon><span> Help </span>
          </button>
        </li>

        

      </ul>

    </div>

  </mat-toolbar-row>

</mat-toolbar>