<div class="wrapper">        
    <button mat-button (click)="onNoClick()"><mat-icon>close</mat-icon></button>
    <div class="container d-flex justify-content-center" style="align-items: center; width: 50%; min-width: 50rem;" mat-dialog-actions>
      <div class="row d-flex justify-content-center" style="align-items: center;">
        <div class="col-md">
          <div class="dcard" (click)="addSection('text')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>event</mat-icon>
                  <span>text</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('header')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>title</mat-icon>
                  <span>title</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('image')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>image</mat-icon>
                  <span>image</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('review')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>star_rate</mat-icon>
                  <span>review</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('video')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>notes</mat-icon>
                  <span>video</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
            <div class="dcard" (click)="addSection('divider')">
              <div class="card">
                <div class="frame d-flex justify-content-center flex-column">
                  <div class="frame-content">
                    <mat-icon>notes</mat-icon>
                    <span>divider</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="dcard" (click)="addSection('map')">
              <div class="card not">
                <div class="frame d-flex justify-content-center flex-column">
                  <div class="frame-content">
                    <mat-icon>notes</mat-icon>
                    <span>map</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="dcard" (click)="addSection('file')">
              <div class="card not">
                <div class="frame d-flex justify-content-center flex-column">
                  <div class="frame-content">
                    <mat-icon>notes</mat-icon>
                    <span>file</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="dcard" (click)="addSection('button')">
              <div class="card not">
                <div class="frame d-flex justify-content-center flex-column">
                  <div class="frame-content">
                    <mat-icon>notes</mat-icon>
                    <span>button</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="dcard" (click)="addSection('event')">
              <div class="card not">
                <div class="frame d-flex justify-content-center flex-column">
                  <div class="frame-content">
                    <mat-icon>notes</mat-icon>
                    <span>event</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

<!-- TODO -->