<!-- TODO: merge new-component and new-section-content -->

<div class="d-flex flex-column new-component-wrapper">
  <h3>Add new section content</h3>
  <button mat-button (click)="addSection('button')">                  
    <mat-icon>notes</mat-icon>
    <span>Button</span>
  </button>
  <button mat-button (click)="addSection('file')">                  
    <mat-icon>notes</mat-icon>
    <span>File</span>
  </button>
  <button mat-button (click)="addSection('map')">                  
    <mat-icon>notes</mat-icon>
    <span>Map</span>
  </button>
  <button mat-button (click)="addSection('divider')">                  
    <mat-icon>notes</mat-icon>
    <span>Divider</span>
  </button>
  <button mat-button (click)="addSection('video')">                  
    <mat-icon>title</mat-icon>
    <span>Video</span>
  </button>
  <button mat-button (click)="addSection('image')">                  
    <mat-icon>image</mat-icon>
    <span>Image</span>
  </button>
  <button mat-button (click)="addSection('header')">                  
    <mat-icon>title</mat-icon>
    <span>Title</span>
  </button>
  <button mat-button (click)="addSection('text')">                  
    <mat-icon>title</mat-icon>
    <span>Text</span>
  </button>
  <button mat-raised-button>Close</button>
</div>