<p>Hlavní barva</p>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Hlavní barva</mat-label>
    <input matInput type="color" placeholder="Ex. It makes me feel..." [(ngModel)]="data.color.color">
</mat-form-field>

<!-- <p>Průhlednost</p>
<mat-slider min="0.1" max="1" step="0.1" thumbLabel tickInterval="1" [(ngModel)]="data.color.opacity"></mat-slider> -->
<p>Druhá barva</p>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Druhá barva</mat-label>
    <input matInput type="color" placeholder="Ex. It makes me feel..." [(ngModel)]="data.color.secondary">
</mat-form-field>