.img-wrap {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &>div {
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc;
    user-select: none;

    &>img {
      user-select: none;
      max-width: 200px;
      max-height: 200px;
    }

    &>div {
      user-select: none;
      height: 16px;
      width: 16px;
      position: absolute;
      box-shadow: 0 1px 1px 1px rgb(0 0 0 / 16%), inset 0 1px 1px 1px rgb(0 0 0 / 12%);
      margin-left: -8px;
      margin-top: -8px;
      border-radius: 50%;
      border: 2px solid #fff;
      left: 50%;
      top: 50%;
    }
  }

}