

<div class="d-flex flex-column">
	<div class="d-flex flex-column align-items-center" *ngIf="data.src; else noImage">
		<label>Focus point</label>
		<div class="img-wrap">
			<div #imageBoundary class="image-boundary">
				<div #imageFocusPoint cdkDrag cdkDragBoundary=".image-boundary" (cdkDragEnded)="dropFocusPoint($event)" [style.left]="data.left" [style.top]="data.top"></div>
				<img [src]="data.src" [alt]="data.alt" (click)="clickFocusPoint($event)">
			</div>
		</div>
	</div>
	<ng-template #noImage>
		<p>Please upload new image or choose from gallery</p>
	</ng-template>

	<div class="row mt-4">
		<div class="col"><button class="w-100" mat-button (click)="uploadImage()"><mat-icon>upload</mat-icon> Upload</button></div>
		<div class="col" *ngIf="data.src"><button class="w-100" mat-button (click)="deleteImage()"><mat-icon>delete</mat-icon> Delete</button></div>
		<div class="col"><button class="w-100" mat-button (click)="showGallery()"><mat-icon>photo_library</mat-icon> Gallery</button></div>
	</div>
</div>
