<div class="full-wrapper d-flex flex-column align-items-center" cdkDrag
cdkDragRootElement=".cdk-overlay-pane">
<div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>
    <div class="d-flex justify-content-between align-items-baseline" [ngSwitch]="menu">
        <ng-container *ngFor="let item of list; index as i">
            <h1 *ngSwitchCase="i">
                {{ item.data.header }}
            </h1>
        </ng-container>
    </div>
    <div class="menu-wrapper d-flex">
        <div class="menu d-flex flex-column align-items-center" [class.menu-active]="menu == 0"> <!-- MAIN MENU -->
            <mat-list class="w-100">
                <ng-container *ngFor="let item of list | slice:1; index as i">
                    <mat-list-item>
                        <button class="w-100 text-left" mat-button (click)="changeMenu(i+1)">
                            <mat-icon [class]="item.data.icon + '-icon'">{{item.data.icon}}</mat-icon> {{item.data.name}} <mat-icon class="float-right p-1">navigate_next</mat-icon>
                        </button>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
            </mat-list>
        </div>
        <!-- <div class="menu" [class.menu-active]="menu == 2"> 
            <web-layout-module [data]="data.layout" [type]="'nav'"></web-layout-module>
        </div>
        <div class="menu" [class.menu-active]="menu == 3"> 
            <web-color-module [data]="data.color"></web-color-module>
        </div>
        <div class="menu" [class.menu-active]="menu == 4"> 
            <web-size-module [data]="data.size"></web-size-module>
        </div>
        <div class="menu" [class.menu-active]="menu == 5"> 
            <web-logo-module [data]="data.logo"></web-logo-module>
        </div>
        <div class="menu" [class.menu-active]="menu == 6"> 
            <web-background-module [data]="data.background"></web-background-module>
        </div>
        <div class="menu" [class.menu-active]="menu == 7"> 
            <web-button-module [data]="data.button"></web-button-module>
        </div> -->
        <div class="menu" [class.menu-active]="menu != 0">
            <ng-template menuTemp></ng-template> <!-- GENERATE CORRECT MODULE IN CODE-->
        </div>

    </div>
    <div class="w-100 d-flex justify-content-between align-items-baseline bottom-wrapper pt-4">
        <button mat-button class="save w-100" (click)="save()" *ngIf="menu == 0">Zavřít</button>
        <button mat-button class="save" (click)="save()" *ngIf="menu != 0">Uložit</button>
        <button mat-button class="cancel" (click)="cancel()" *ngIf="menu != 0">Zrušit</button>
    </div>
</div>
