<div>
    <mat-form-field class="example-full-width" appearance="fill" class="w-100">
        <mat-label>Nadpis</mat-label>
        <input matInput [(ngModel)]="data.header.text">
    </mat-form-field>
</div>
<mat-slide-toggle [(ngModel)]="data.header.haveSubtext">Zobrazit podnadpis</mat-slide-toggle>
<div class="logo" [class.show-logo]="data.header.haveSubtext">
    <mat-form-field class="example-full-width" appearance="fill" class="w-100">
        <mat-label>Podnadpis</mat-label>
        <input matInput [(ngModel)]="data.header.subtext">
    </mat-form-field>
</div>