<quill-editor [(ngModel)]="content.text" theme="bubble2" 
placeholder="Enter text" [modules]="modules">
<div quill-editor-toolbar>
  <span class="ql-formats">
    <button class="ql-bold" [title]="'Bold'"></button>
    <button class="ql-italic" [title]="'Italic'"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-indent" value="-1" [title]="'Increase indentation'"></button>
    <button type="button" class="ql-indent" value="+1" [title]="'Decrease indentation'"></button>
  </span>
  <span class="ql-formats">
    <select class="ql-header" [title]="'Text style'">
      <option value="1"></option>
      <option value="2"></option>
      <option value="3"></option>
      <option selected></option>
      <option value="10"></option>
    </select>
    <select class="ql-font" [title]="'Font'">
      <ng-container *ngFor="let item of FONT_NAMES; index as i">
        <option [value]="item">{{item}}</option>
      </ng-container>
    </select>
    <select class="ql-align" [title]="'Alignment'">
      <option selected [title]="'Left'"></option>
      <option value="center" [title]="'Center'"></option>
      <option value="right" [title]="'Right'"></option>
      <option value="justify" [title]="'Justify'"></option>
    </select>
  </span>
  <span class="ql-formats">
    <select class="ql-color" [title]="'Text color'"></select>
    <select class="ql-background" [title]="'Text background color'"></select>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-letter-spacing" value="+0.1" [title]="'Increase letter spacing'"></button>
    <button type="button" class="ql-letter-spacing" value="-0.1" [title]="'Decrease letter spacing'"></button>
  </span>
  <span class="ql-formats">
    <button type="button" class="ql-font-size-button" value="+10" [title]="'Increase font size'"></button>
    <button type="button" class="ql-font-size-button" value="-10" [title]="'Decrease font size'"></button>
  </span>
</div>
</quill-editor>

