//todo move
.new-section-button {
    height: 17px;
    width: 100%;
    z-index: 5;
    position: absolute;
    opacity: 0;
    box-sizing: border-box;

    &.new-section-button-bottom {
        bottom: 0;
        border-bottom: 2px solid #666;
        box-shadow: 0 1px 0px 1px #666;
    }

    &.new-section-button-top {
        top: 0;
        border-top: 2px solid #666;
        box-shadow: 0 -1px 0px 1px #666;
    }

    button {
        background-color: #333;
        color: white;
    }

    &>div {
        height: 17px;
    }
}

.new-section-button:hover {
    opacity: 1;
}