quill-editor {
  display: block !important;
}


.ql-editor {

  border: 1px solid transparent;
  overflow: hidden;

  &:hover {
    border: 1px dashed black;
    outline: 1px dashed white;
  }

  &.ql-border {
    border: 1px solid black;
    outline: 1px solid white;
  }

  word-break: break-word;

}


.ql-position.ql-tooltip {
  min-width: 300px;
  width: fit-content;
  z-index: 500;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  margin-top: 10px;

  .ql-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .ql-formats {
      margin: 4px 6px 4px 6px;
    }
  }

  &.ql-flip {

    margin-top: 0;
    margin-bottom: 10px;
    bottom: 100%;


    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);


    .ql-tooltip-submenu {
      &.ql-tooltip-submenu-show {
        display: flex;
      }

      display: none;
      height: 32px;
      width: fit-content;
      align-items: center;
      position: absolute;
      right: 0;
      left: calc(100% + 6px);
      background: #444;
      border-radius: 16px;
      padding: 0 8px;

      .mat-icon {
        cursor: pointer;
        color: #ccc;

        &:hover {
          color: #fff;
        }
      }
    }
  }



}




.ql-bubble .ql-picker.ql-size .ql-picker-item[data-value]:not([data-value=''])::before {
  font-size: attr(data-value);
  content: attr(data-value);
}

.ql-bubble .ql-picker-label.ql-active {
  overflow: hidden;
}

.ql-bubble .ql-picker.ql-size .ql-picker-label::before {
  content: 'Size';
}

.ql-bubble .ql-picker.ql-font .ql-picker-label::before {
  content: 'Font';
}

.ql-bubble .ql-picker-options .ql-picker-item.ql-primary[data-label='none'] {
  background-color: white;
  position: relative;
  overflow: hidden;
  width: 136px;

  &:before {
    position: absolute;
    content: '';
    background: red;
    display: block;
    width: 100%;
    height: 2px;

    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}




.ql-bubble .ql-picker.ql-header .ql-picker-label[data-value='10']::before,
.ql-bubble .ql-picker.ql-header .ql-picker-item[data-value='10']::before {
  content: 'Citation';
}

.ql-bubble .ql-picker.ql-header .ql-picker-label[data-value='1']::before,
.ql-bubble .ql-picker.ql-header .ql-picker-item[data-value='1']::before {
  content: 'Title';
}

.ql-bubble .ql-picker.ql-header .ql-picker-label[data-value='2']::before,
.ql-bubble .ql-picker.ql-header .ql-picker-item[data-value='2']::before {
  content: 'Header';
}

.ql-bubble .ql-picker.ql-header .ql-picker-label[data-value='3']::before,
.ql-bubble .ql-picker.ql-header .ql-picker-item[data-value='3']::before {
  content: 'Subtitle';
}

.ql-bubble .ql-picker.ql-header .ql-picker-label::before,
.ql-bubble .ql-picker.ql-header .ql-picker-item::before {
  content: 'Text';
}

.ql-selected {
  color: red !important;
}