<mat-tab-group dynamicHeight mat-stretch-tabs>
    <mat-tab label="Šířka">
        <h1>Šířka sekce</h1>
        <mat-radio-group aria-label="Vyberte šířku" [(ngModel)]="data.size.width" class="d-flex flex-column">
            <mat-radio-button [value]="item.value" *ngFor="let item of widths" class="d-flex custom-button">{{ item.viewValue }}</mat-radio-button>
        </mat-radio-group>
    </mat-tab>
    <mat-tab label="Výška">
        <h1>Výška sekce</h1>
        <mat-radio-group aria-label="Vyberte výšku" [(ngModel)]="data.size.height" class="d-flex flex-column">
            <mat-radio-button [value]="item.value" *ngFor="let item of heights" class="d-flex custom-button">{{ item.viewValue }}</mat-radio-button>
        </mat-radio-group>
    </mat-tab>
</mat-tab-group>