.card-wrapper {
    width: 100%;
    flex: 0 0 auto;
    .content {
        position: relative;
        padding: 0 10px 25px;
        &:hover .mini-menu {
            display: flex;
        }
    }
    
}

.new-content-button {
    left:0;
    right: 0;
    z-index: 5;
    position: absolute;
    opacity: 0;
    box-sizing: border-box;

    &.new-content-button-bottom {
        bottom: 0;
    }

    &.new-content-button-bottom-empty {
      bottom: 0;
      top: 0;
      width: calc(100% - 80px);
      margin-left: 40px;
      position: relative;
    }

    &.new-content-button-top {
        top: -20px;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 50%;
        margin-top: 2px;
        border-bottom: 2px dashed #666;
    }

    button {
        background-color: #333;
        color: white;
        clip-path: polygon(10% 0%, 75% 0%, 100% 50%, 75% 100%, 10% 100%);
        margin-left: -5px;
        height: 24px;
        width: 30px;
        border: none;
        padding: 1px 0 0 0;
        .mat-icon {
            transform: scale(0.5);
        }

    }
}

.new-content-button:hover {
    opacity: 1;
}

.mini-menu {
    position: absolute;
    top: 10px;
    right: -5px;
    display:none;
    flex-direction: column;
    border:1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 17px;
    z-index: 4500;
    color: black;
    // & > * {
    //   margin: 5px;
    //   user-select: none;
    //   cursor: pointer;
    // }
    .handle-content {
      cursor: move;
    }
  }

