.wrapper {
    position: relative;
    padding: 0 10px 25px;
}

.new-content-button {
    transform: none;

    &.new-content-button-bottom {
        bottom: 0;
    }

    &.new-content-button-bottom-empty {
        bottom: 0;
        top: 0;
        width: calc(100% - 80px);
        margin-left: 40px;
        position: relative;
    }

    &::before {
        transform: none;
        width: unset;
        border-bottom: 2px dashed #666;
    }

    button {
        clip-path: polygon(10% 0%, 75% 0%, 100% 50%, 75% 100%, 10% 100%);
        margin-left: -5px;
        height: 24px;
        width: 30px;
        border: none;
        padding: 1px 0 0 0;

        .mat-icon {
            transform: scale(0.5);
        }

    }
}