<div class="wrapper">
    <table class="grid">
        <tr>
            <td (click)="changeAlignment(1)" [class.active]="getAlignment() == 1"><div></div></td>
            <td (click)="changeAlignment(2)" [class.active]="getAlignment() == 2"><div></div></td>          
            <td (click)="changeAlignment(3)" [class.active]="getAlignment() == 3"><div></div></td>
        </tr>
        <tr>
          <td (click)="changeAlignment(4)" [class.active]="getAlignment() == 4"><div></div></td>
          <td (click)="changeAlignment(5)" [class.active]="getAlignment() == 5"><div></div></td>          
          <td (click)="changeAlignment(6)" [class.active]="getAlignment() == 6"><div></div></td>
      </tr>
      <tr>
          <td (click)="changeAlignment(7)" [class.active]="getAlignment() == 7"><div></div></td>
          <td (click)="changeAlignment(8)" [class.active]="getAlignment() == 8"><div></div></td>          
          <td (click)="changeAlignment(9)" [class.active]="getAlignment() == 9"><div></div></td>
      </tr>
    </table>
  </div>
  