<div class="content-wrapper">
    <div class="flex-container" [sortablejs]="component.cards" [sortablejsOptions]="sortableOptions">
       <div class="d-flex" [ngStyle]="getCardStyle(index)"
       *ngFor="let item of component.cards; index as index">
            <div class="content">
                <div class="d-flex flex-column inner-content">
                    <div class="new-content-button new-content-button-left">
                        <button mat-mini-fab (click)="addContent(index)" matTooltip="Add card"><mat-icon>add</mat-icon></button>
                    </div>
                    <div class="card-menu"> 
                        <mat-icon class="card-handle" matTooltip="Move card">open_with</mat-icon>
                        <mat-icon (click)="editMenu(index)" matTooltip="Card settings">edit</mat-icon>
                        <mat-icon (click)="duplicate(index)" matTooltip="Duplicate card">content_copy</mat-icon>
                        <mat-icon (click)="deleteContent(index)" matTooltip="Delete card">delete</mat-icon>
                    </div>

                    <web-grid-card [card]="item"></web-grid-card>


                    <div class="new-content-button new-content-button-right">
                        <button mat-mini-fab (click)="addContent(component.cards.length)" matTooltip="Add card"><mat-icon>add</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-content-button new-content-button-bottom" *ngIf="component.cards.length == 0">
            <button mat-mini-fab (click)="addContent(0)" matTooltip="Add card"><mat-icon>add</mat-icon></button>
        </div>
    </div>
</div>
  
