.button-wrapper {
    height: 100px;
    width: 300px;
    border: 1px solid silver;
    margin: 20px 0;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #eeeeee;
    &:hover {
        cursor: pointer;
        border: 1px dashed #222;
    }

    .btn-none, .btn-active {
        // background-color: #4CAF50; __<<ngThemingMigrationEscapedComment0>>__
        background: none;
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}

.button-wrapper-active, .button-wrapper-active:hover {
    border: 1px solid #222;
}

#button1 {
    .btn-active {
        position: relative;
        &::after {
            content:'';
            position:absolute;
            width:35%;
            height:1px;
            background:#000;
            bottom:0;
            left:0;
            right:0;
            margin:auto;
        }
    }
}

#button2 {

    .btn-active {
        background: white;
        border-radius: 5px;
        position: relative;
        &::after {
            content:'';
            position:absolute;
            width:35%;
            height:1px;
            background:#000;
            bottom:0;
            left:0;
            right:0;
            margin:auto;
            margin-bottom: 5px;
        }
    }
}

#button3 {

    .btn-active {
        position: relative;
        &::before {
            // font-size: 130%;
            content:'|';
            position:absolute;
            left:0;
            margin: 0 5px;
        }
        &::after {
            // font-size: 130%;
            content:'|';
            position:absolute;
            right:0;
            margin:0 5px;
        }
    }
}

#button4 {
    .btn-active {
        background: white;
        border-radius: 5px;
        position: relative;
    }
}