<mat-tab-group dynamicHeight mat-stretch-tabs>
    <mat-tab label="Width">
        <mat-radio-group aria-label="Choose width" [(ngModel)]="data.width" class="d-flex flex-column">
            <mat-radio-button [value]="item.value" *ngFor="let item of widths" class="d-flex custom-button">{{ item.viewValue }}</mat-radio-button>
        </mat-radio-group>
    </mat-tab>
    <mat-tab label="Height">
        <mat-radio-group aria-label="Choose height" [(ngModel)]="data.height" class="d-flex flex-column">
            <mat-radio-button [value]="item.value" *ngFor="let item of heights" class="d-flex custom-button">{{ item.viewValue }}</mat-radio-button>
        </mat-radio-group>
    </mat-tab>
</mat-tab-group>