
.color {
    height: 100px;
    width: 300px;
    border: 1px solid silver;
    margin: 20px 0;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 100px;

    &:hover {
        cursor: pointer;
        border: 1px dashed #222;
    }

    &::before {
        content: 'Text';
    }
}

.color-active, .color-active:hover {
    border: 1px solid #222;
}

.nocolors {
    &::before {
        content: 'No preset'
    }
}

