<mat-tab-group dynamicHeight mat-stretch-tabs>
    <mat-tab label="Preset">
        <div class="preset no-preset" (click)="unsetColors()"></div>
        <div *ngFor="let item of colors" class="preset" [style.color]="item.text"
            [style.backgroundColor]="item.background" (click)="changeColor(item)"></div>
    </mat-tab>
    <mat-tab label="Custom">
        <div class="preset" [style.color]="data.textColor" [style.background]="data.backgroundColor"></div>
        <div>
            <div class="my-label-container">
                <label>Background color</label>
                <label class="my-value-label">{{data.backgroundColor}}</label>
            </div>
            <mat-form-field class="w-100" appearance="fill">
                <input matInput type="color" [(ngModel)]="data.backgroundColor">
            </mat-form-field>
        </div>
        <div>
            <div class="my-label-container">
                <label>Text color</label>
                <label class="my-value-label">{{data.textColor}}</label>
            </div>
            <mat-form-field class="w-100" appearance="fill">
                <input matInput type="color" [(ngModel)]="data.textColor">
            </mat-form-field>
        </div>
    </mat-tab>
</mat-tab-group>