.wrapper
{
   padding: 2.5rem 0;
   font-family: 'Raleway', sans-serif;
}

.calendar-controls
{
  height: 5rem;
  background-color: #53aafc;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 0.5rem;
  transition: 0.3s ease;
}

.actions
{
  border-radius: 0 0  1.5rem 1.5rem;
}

.action-button span
{
  margin-left: 0.5rem;
}

.date-text
{
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 0 0.7rem white;
  text-align: center;
}

.calendar-nav-button
{
  color: white;
  font-size: 1.3rem;
  transition: 0.3s ease;
  border-radius: 1rem;
  margin: 0 0.3rem;
  padding: 0 !important;

}

.calendar-nav-button:hover
{
  background-color: white;
  color: #53aafc;
  cursor: pointer;
}

.calendar-nav-button:hover mat-icon
{
   -webkit-transform: scale(1.2);
   -moz-transform: scale(1.2);
   -o-transform: scale(1.2);
   transform: scale(1.2);
}

.calendar-nav-button mat-icon
{
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  transition: 0.3s ease;
}

.calendar-view-selected
{
  background-color: white;
  color: #53aafc;
}

@media (max-width: 90rem)
{
  .calendar-controls
  {
    font-size: 1rem;
    border-radius: 1.1rem 1.1rem 0 0;
    height: 4rem;
    padding: 0.4rem;
  }

  .actions
  {
    border-radius: 0 0  1.1rem 1.1rem;
  }

  .action-button span
  {
    font-size: 1rem;
  }

  .calendar-nav-button
  {
    border-radius: 0.8rem;
  }

  .calendar-nav-button mat-icon
  {
    width: 1.7rem;
    height: 1.7rem;
    font-size: 1.7rem;
  }

  .date-text
  {
    font-size: 1.2rem;
  }
}

@media (max-width: 70rem)
{
  .calendar-controls
  {
    font-size: 0.8rem;
    border-radius: 1rem 1rem 0 0;
    height: 3.5rem;
    padding: 0.3rem;
  }

  .action-button span
  {
    font-size: 0.9rem;
  }

  .actions
  {
    border-radius: 0 0  1rem 1rem;
  }

  .calendar-nav-button
  {
    border-radius: 0.5rem;
  }

  .calendar-nav-button mat-icon
  {
    width: 1.4rem;
    height: 1.4rem;
    font-size: 1.4rem;
  }

  .date-text
  {
    font-size: 0.9rem;
  }

  .wrapper
  {
     padding: 1.5rem 0;
  }

}

@media (max-width: 50rem)
{
  .calendar-controls
  {
    font-size: 0.7rem;
    border-radius: 0.8rem 0.8rem 0 0;
    height: 3rem;
    padding: 0.3rem;
  }

  .actions
  {
    border-radius: 0 0 0.8rem 0.8rem;
  }

  .calendar-nav-button
  {
    border-radius: 0.5rem;
  }

  .calendar-nav-button mat-icon
  {
    width: 1.2rem;
    height: 1.2rem;
    font-size: 1.2rem;
  }

  .date-text
  {
    font-size: 0.8rem;
  }

  .wrapper
  {
     padding: 1rem 0;
  }

}

@media (max-width: 30rem)
{
  .action-button span
  {
    display: none;
  }
}

@media (max-width: 15rem)
{

}
