<div class="container wrapper d-flex flex-column">
    <div class="calendar-controls d-flex w-100 justify-content-center align-items-center">
      <div class="d-flex h-100 justify-content-center align-items-center" style="width: 35%">
        <div class="calendar-nav-button container d-flex h-100 justify-content-center align-items-center"
             mwlCalendarPreviousView
             [view]="view"
             [(viewDate)]="viewDate"
             (viewDateChange)="closeOpenMonthViewDay()"
             matRipple
             matTooltip="Předchozí">
          <mat-icon>chevron_left</mat-icon>
        </div>
        <div class="calendar-nav-button container d-flex h-100 justify-content-center align-items-center"
             mwlCalendarToday
             [(viewDate)]="viewDate"
             (viewDateChange)="closeOpenMonthViewDay()"
             matRipple
             matTooltip="Dnes">
          <mat-icon>today</mat-icon>
        </div>
        <div class="calendar-nav-button container d-flex h-100 justify-content-center align-items-center"
             mwlCalendarNextView
             [view]="view"
             [(viewDate)]="viewDate"
             (viewDateChange)="closeOpenMonthViewDay()"
             matRipple
             matTooltip="Další">
          <mat-icon>chevron_right</mat-icon>
        </div>
      </div>
      <div class="d-flex h-100 justify-content-center align-items-center" style="width: 30%">
        <div class="date-text">
          <span>{{ viewDate | calendarDate:(view + 'ViewTitle'):'cs' }}</span>
        </div>
      </div>
      <div class="d-flex h-100 justify-content-center align-items-center" style="width: 35%">
        <div class="calendar-nav-button container d-flex h-100 justify-content-center align-items-center"
             (click)="setView(CalendarView.Month)"
             matRipple
             matTooltip="Měsíc"
             [ngClass]="{'calendar-view-selected': view === CalendarView.Month}">
          <mat-icon>calendar_view_month</mat-icon>
        </div>
        <div class="calendar-nav-button container d-flex h-100 justify-content-center align-items-center"
             (click)="setView(CalendarView.Week)"
             matRipple
             matTooltip="Týden"
             [ngClass]="{'calendar-view-selected': view === CalendarView.Week}">
          <mat-icon>calendar_view_week</mat-icon>
        </div>
        <div class="calendar-nav-button container d-flex h-100 justify-content-center align-items-center"
             (click)="setView(CalendarView.Day)"
             matRipple
             matTooltip="Den"
             [ngClass]="{'calendar-view-selected': view === CalendarView.Day}">
          <mat-icon>calendar_view_day</mat-icon>
        </div>
      </div>
    </div>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="CalendarView.Month"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        locale="cs"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-week-view
        *ngSwitchCase="CalendarView.Week"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [hourSegments]="2"
        locale="cs"
      >
      </mwl-calendar-week-view>
      <mwl-calendar-day-view
        *ngSwitchCase="CalendarView.Day"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)"
        [hourSegments]="2"
        locale="cs"
      >
      </mwl-calendar-day-view>
    </div>
    <!-- <div class="calendar-controls actions d-flex w-100 justify-content-center align-items-center">
      <div class="calendar-nav-button action-button container d-flex h-100 justify-content-center align-items-center"
           matRipple
           matTooltip="Vytvořit soukromou událost">
        <mat-icon>create</mat-icon>
        <span>UDÁLOST</span>
      </div>
      <div class="calendar-nav-button action-button container d-flex h-100 justify-content-center align-items-center"
           matRipple
           matTooltip="Vytvořit akci pro přátele">
        <mat-icon>playlist_add</mat-icon>
        <span>AKCE PRO PŘÁTELE</span>
      </div>
    </div> -->
  </div>