@use '@angular/material' as mat;

@import "../fonts";
@import "../icons";
// @import "../../../projects/utils/src/lib/angular-material/mat-variables";

// https://github.com/angular/components/blob/master/src/material/core/style/_variables.scss

$mat-xsmall: 'max-width: 599px';
$mat-small: 'max-width: 959px';

// https://github.com/angular/components/blob/master/src/material/toolbar/toolbar.scss

$mat-toolbar-height-desktop: 64px !default;
$mat-toolbar-height-mobile: 56px !default;
$mat-toolbar-row-padding: 16px !default;



@import "./mixins";
@import "./palette";
@import "./typography";
// @import "../../../projects/utils/src/lib/angular-material/variables";

// See: constants.ts

$crm-command-bar-height-desktop: 56px !default;
// $crm-command-bar-height-mobile: 48px !default;
$crm-command-bar-height-mobile: 0 !default;

$crm-action-bar-height-desktop: 56px !default;
$crm-action-bar-height-mobile: 48px !default;

$crm-activity-bar-height-desktop: 56px !default;
$crm-activity-bar-height-mobile: 48px !default;

$crm-view-bar-height-desktop: 96px !default;
$crm-view-bar-height-mobile: 84px !default;

$crm-component-title-margin: 16px !default;

$crm-component-default-margin: 32px !default;

$crm-collection-component-footer-button-min-width: 24px !default;


// Generate Material’s core styles

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($custom-typography);`
@include mat.all-legacy-component-typographies($custom-typography);
@include mat.legacy-core();
// @include mat-toolbar-typography($custom-toolbar-typography);

// Generate a Custom Theme

$light-theme: mat.define-light-theme($light-theme-primary, $light-theme-accent, $light-theme-warn);
// $dark-theme: mat-dark-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn);

@include mat.all-legacy-component-themes($light-theme);

// Theme Custom components

@include crm-light-theme($light-theme);

// ------------------------------------------------------------------------------------------------------------------ //

$foreground: map-get($light-theme, foreground);
$background: map-get($light-theme, background);

// top, right, bottom, and left
// width: 100vw;
// height: 100vh;

.mat-sidenav-container {
  height: 100vh;
}

// https://github.com/angular/material2/blob/master/src/lib/core/style/_variables.scss

$sidenav-width: 320px; // 240px;

.mat-sidenav {
  width: $sidenav-width;
}

.mat-subheader {
  font-size: 18px !important;
  font-weight: 900 !important;
}

.mat-vertical-content {
  padding: 24px 24px 24px 24px !important;
}

// auth-local - login, register

.mat-drawer-container {

  @media (max-width: 599px) {
    background-color: white;
  }

}

.mat-header-row {
  // background-color: mat-color($light-theme-accent, 300);
  background-color: #f5f5f5;
}

.mat-footer-row {
  // background-color: mat-color($light-theme-accent, 300);
  background-color: #f5f5f5;
}

// ------------------------------------------------------------------------------------------------------------------ //

// https://material.angular.io/guide/theming
// https://github.com/angular/components/blob/master/guides/theming.md

// https://material.io/design/color/the-color-system.html
// https://github.com/angular/material2/blob/master/src/lib/core/theming/_palette.scss

// https://material.angular.io/guide/typography
// https://github.com/Teradata/covalent/blob/develop/src/theme.scss

// https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html
// https://ultimatecourses.com/blog/the-missing-guide-to-angular-material
