.new-content-button {
  top: 18px;
  bottom: 18px;
  left: unset;
  right: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: none;

  &.new-content-button-left {
    left: -22px;
  }

  &.new-content-button-right {
    right: -20px;
  }

  &.new-content-button-bottom {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &::before {
      height: 50%;
      width: 90%;
      margin: auto;
      margin-top: 2px;
      border: none;
      border-bottom: 2px dashed #666;
    }
  }

  &::before {
    height: 100%;
    border-left: 2px dashed #666;
    border-bottom: unset;
    width: 50%;
    margin-left: 50%;
    transform: none;
    margin-top: unset;
  }



  button {
    transform: scale(0.9);
  }
}


.wrapper {
  padding: 40px;
  width: 100%;
  background-size: cover;
}


.mini-menu {
  position: absolute;
  top: -25px;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  flex-direction: row;
  background-color: rgba(255, 0, 0, 0.5);
}

.inner-wrapper {
  padding: 15px 10px 0;
  border: 1px solid transparent;
  position: relative;
  width: 100%;
  height: 100%;

  &:hover {
    border: 1px dashed #666;
  }
}