<div class="wrapper">        
    <button mat-button (click)="onNoClick()"><mat-icon>close</mat-icon></button>
    <div class="container d-flex justify-content-center" style="align-items: center; width: 50%; min-width: 50rem;" mat-dialog-actions>
      <div class="row d-flex justify-content-center" style="align-items: center;">
        <div class="col-md">
          <div class="dcard" (click)="addSection('event')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>event</mat-icon>
                  <span>Event</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('title')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>title</mat-icon>
                  <span>Title</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('text')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>title</mat-icon>
                  <span>Text</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('text2')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>title</mat-icon>
                  <span>Two text columns</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('photogallery')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>image</mat-icon>
                  <span>Photogallery</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('review')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>star_rate</mat-icon>
                  <span>Review</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('section')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>notes</mat-icon>
                  <span>Empty section</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('calendar')">
            <div class="card partly">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>notes</mat-icon>
                  <span>Calendar</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('events')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>notes</mat-icon>
                  <span>Events</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('cards')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>notes</mat-icon>
                  <span>Cards</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('table')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>notes</mat-icon>
                  <span>Table</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- TODO -->