<div class="wrapper">        
    <button mat-button (click)="onNoClick()"><mat-icon>close</mat-icon></button>
    <div class="container d-flex justify-content-center" style="align-items: center; width: 50%; min-width: 50rem;" mat-dialog-actions>
      <div class="row d-flex justify-content-center" style="align-items: center;">
        <div class="col-md">
          <div class="dcard" (click)="addSection('event')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>event</mat-icon>
                  <span>Akce</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('title')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>title</mat-icon>
                  <span>Titulek</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('text')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>title</mat-icon>
                  <span>Text</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('text2')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>title</mat-icon>
                  <span>Dva sloupce textu</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('photogallery')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>image</mat-icon>
                  <span>Fotogalerie</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('review')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>star_rate</mat-icon>
                  <span>přehled recenzí</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('section')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>notes</mat-icon>
                  <span>Prázdná sekce</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('calendar')">
            <div class="card partly">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>notes</mat-icon>
                  <span>Kalendář akcí</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('events')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>notes</mat-icon>
                  <span>Nabídka akcí</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('cards')">
            <div class="card">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>notes</mat-icon>
                  <span>Karty</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md">
          <div class="dcard" (click)="addSection('table')">
            <div class="card not">
              <div class="frame d-flex justify-content-center flex-column">
                <div class="frame-content">
                  <mat-icon>notes</mat-icon>
                  <span>Tabulka</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

