<div class="d-flex flex-column new-component-wrapper">
  <h3>Add new component</h3>
  <button mat-button (click)="addSection('table')">                  
    <mat-icon>notes</mat-icon>
    <span>Table</span>
  </button>
  <button mat-button (click)="addSection('cards')">                  
    <mat-icon>notes</mat-icon>
    <span>Cards</span>
  </button>
  <button mat-button (click)="addSection('empty')">                  
    <mat-icon>notes</mat-icon>
    <span>Empty section</span>
  </button>
  <button mat-button (click)="addSection('gallery')">                  
    <mat-icon>photo</mat-icon>
    <span>Photogallery</span>
  </button>
  <button mat-button (click)="addSection('text2')">                  
    <mat-icon>title</mat-icon>
    <span>Two columns of text</span>
  </button>
  <button mat-button (click)="addSection('text')">                  
    <mat-icon>title</mat-icon>
    <span>Text</span>
  </button>
  <button mat-button (click)="addSection('title')">                  
    <mat-icon>title</mat-icon>
    <span>Title</span>
  </button>
  <button mat-raised-button>Close</button>
</div>