body {
  max-height: 100vh;
  height: 100vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}



/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';


/* Import custom styles */
@import './styles/angularsplit.scss';
@import './styles/cdk.scss';
@import './styles/material.scss';
@import './styles/quill.scss';




#app-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.my-label-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 284px;
}

.my-value-label {
  font-weight: 600;
}

.mini-menu {
  position: absolute;
  top: 5px;
  left: -5px;
  display: none;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 17px;
  z-index: 4500;
  color: black;

  &>* {
    margin: 5px;
    user-select: none;
    cursor: pointer;
  }

  .handle-content {
    cursor: move;
  }
}

.show-mini-menu:hover>.mini-menu {
  display: flex;
}

.btn-settings {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);

  &>.mat-mdc-icon-button.mat-mdc-button-base {
    height: 40px;
    width: 40px;
    padding: 6px;
  }

}

.show-btn-settings:hover>.btn-settings {
  display: flex;
}


.preset {
  height: 100px;
  width: 300px;
  border: 1px solid silver;
  margin: 20px 0;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  line-height: 100px;

  &:hover {
    cursor: pointer;
    border: 1px dashed #222;
  }

  &::before {
    content: 'Text';
  }
}

.no-preset {
  &::before {
    content: 'No preset'
  }
}


.new-content-button {

  left: 0;
  right: 0;
  z-index: 5;
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  transform: scale(0.5);

  &.new-content-button-bottom {
    bottom: -20px;
  }

  &.new-content-button-bottom-empty {
    bottom: 0;
    top: -20px;
    width: 100%;
    height: 40px;
  }

  &.new-content-button-top {
    top: -20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 50%;
    margin-top: 2px;
    width: 200%;
    transform: translateX(-25%);
    border-bottom: 4px dashed #666;
  }

  button {
    background-color: #333;
    color: white;
  }
}

.new-content-button:hover {
  opacity: 1;
}

.show-outline {
  border: 1px solid transparent;
  outline: 1px solid transparent;

  &:hover {
    border: 1px dashed #666;
    outline: 1px dashed white;
  }
}